h1 {
  font-family: "Montserrat";
}

h2 {
  font-family: "Montserrat";
}

p {
  font-family: "Montserrat";
}

input {
  font-family: "Montserrat";
}

textarea {
  font-family: "Montserrat";
}

button {
  font-family: "Montserrat";
}
